<table class="employee-table">
    <tr>
        <td class="allCells leftCells">First name</td>
        <td class="allCells rightCells">{{firstName}}</td>
    </tr>
    <tr>
        <td class="allCells leftCells">Last name</td>
        <td class="allCells rightCells">{{lastName}}</td>
    </tr>
    <tr *ngIf='showDetails'>
        <td class="allCells leftCells">Gender</td>
        <td class="allCells rightCells">{{gender}}</td>
    </tr>
    <tr *ngIf='showDetails'>
        <td class="allCells leftCells">Age</td>
        <td class="allCells rightCells">{{age}}</td>
    </tr>
</table>
<br />
<button (click)="toggleDetails()">
    {{showDetails? 'Hide': 'Show'}} details
</button>